*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-image: url(usga.webp);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;

}

header {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color:white;
    height: 80px;
    padding: 0 20px; 
}

.content {
    flex: 1;
}

.list ul {
    padding: 0;
    list-style-type: none;
    margin: 0; 
}

.list ul li {
    display: inline; 
    margin-right: 20px; 
}

.list ul li:last-child {
    margin-right: 0; 
}

.main h3{
    padding: 20px;
    margin: 10px;
    font-size: 2rem;
    max-width: 65%;
    padding-bottom: 7.8125rem;
    letter-spacing: .01875rem;
    color: #fff;
}
